#-----------------------
# Deploy to AWS
#-----------------------
name: Deploy-TO-AWS
env:
  AppName: myapp
  DeployEnv: staging
  Deploy_package: "myapp-ver-${{ github.sha }}"

on: 
  push:
    branches:
      - main

jobs:
  my_testing:
    runs-on:
      - ubuntu-22.04
    steps:
      - name: Print Hello Message
        run: echo "Hello world staging"
      - name: EXECUTE TESTS
        run: |
          echo "Executing Tests..."
          echo "Test env ${{ env.DeployEnv }} "
          echo "Test package ${{ env.Deploy_package }} "

  my_deploy:
    runs-on:
      - ubuntu-22.04
    needs:
      - my_testing
    steps:
      - name: Print again
        run: echo "Hello Deploy job"
      - name: DEPLOY TO AWS
        run: |
          echo "Deploying to AWS..."
          echo "Deploy env ${{ env.DeployEnv }} "
          echo "Deploy package ${{ env.Deploy_package }} "
